:root {
  --bg-main: #f4f2e8;
  --bg-secondary: #252424;
  --bg-ui: #4d4d4d;
  --text-main: #4d4d4d;
  --text-secondary: #ffffff;
}


@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("fonts/OpenSans-Regular.ttf") format("ttf"),
    url("https://fonts.googleapis.com/css2?family=Open+Sans");
  font-weight: normal;
  font-stretch: 100%;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: local("Open Sans Semibold"), local("OpenSans-SemiBold"),
    url("fonts/OpenSans-SemiBold.ttf") format("ttf"),
    url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600");
  font-weight: 600;
  font-stretch: 100%;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: local("Open Sans Bold"), local("OpenSans-Bold"),
    url("fonts/OpenSans-Bold.ttf") format("ttf"),
    url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700");
  font-weight: bold;
  font-stretch: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
figure {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

body {
  color: var(--text-main);
  font-family: OpenSans, sans-serif;
  background-color: var(--bg-main);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 73px;
  padding: 0 44px;
  color: var(--text-secondary);
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: var(--bg-secondary);
}

.header__logo {
  width: 209px;
}

.header__menu-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.header__menu-list-item a {
  margin: 0 10px;
  color: inherit;
  text-decoration: none;
}

.main {
  width: 1440px;
  padding: 0 44px;
}

#intro .arched {
  width: 608px;
  clip-path: path("M0,892V284A304,304.7,90,0,1,608,284V892H0Z");
}

.button {
  display: block;
  box-sizing: border-box;
  width: 180px;
  height: 43px;
  color: var(--text-secondary);
  font-weight: 600px;
  line-height: 43px;
  font-size: 17px;
  text-align: center;
  background-color: var(--bg-ui);
  border: none;
  cursor: pointer;
}

.round {
  clip-path: circle(50% at center);
}

#intro .round {
  width: 425px;
  height: 425px;
}

#catalog img {
  width: 643px;
}

#products .round {
  width: 340px;
}

#about img {
  width: 517px;
  clip-path: path("M258.5,859A258.5,264.7,45,0,1,0,656.31V202.69A258.5,264.7,90,0,1,517,202.69V656.31 A258.5,264.7,45,0,1,258.5,859Z");
}

#work img {
  width: 1180px;
}

#recycling .round {
  width: 455px;
}

#recycling .wave {
  width: 490px;
  clip-path: path("M489,762H77.66c0-47.37-19.66-71.48-38.67-94.8C19.82,643.69,0,619.38,0,571.5s19.82-72.19,39-95.71c19-23.32,38.67-47.43,38.67-94.8S58,309.51,39,286.2C19.82,262.69,0,238.38,0,190.5s19.82-72.19,39-95.7C58,71.48,77.66,47.37,77.66,0H489c0,47.88-19.82,72.19-39,95.7-19,23.32-38.67,47.43-38.67,94.79S431,262,450,285.29c19.17,23.51,39,47.82,39,95.7s-19.82,72.19-39,95.71c-19,23.32-38.67,47.43-38.67,94.8S431,643,450,666.3c19.17,23.51,39,47.82,39,95.7");

}

#map {
  width: 1180px;
}

.subscribe__form {
  box-sizing: border-box;
  width: 576px;
  height: 562px;
  padding: 62px 51px 43px;
  color: var(--text-secondary);
  font-size: 17px;
  background-color: var(--bg-ui);
}

.form-column {
  display: inline-block;
  width: 224px;
}

.form-column:not(:last-of-type) {
  margin-right: 21px;
}


.subscribe__form-label {
  font-weight: 600;
}

.subscribe__form-input {
  background-color: transparent;
  box-sizing: border-box;
  width: 100%;
  height: 33px;
  margin: 10px 0;
  padding: 2px 5px;
  border: 2px solid var(--text-secondary);
  color: inherit;
}

.subscribe__form-input:focus {
  outline: none;
}

.subscribe__form textarea  {
  height: 154px;
  resize: none;
}

.subscribe__disclaimer {
  font-size: 10.42px;
  font-weight: 600;
  margin-top: 15px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: 646px;
  padding: 56px;
  color: var(--text-secondary);
  font-weight: 600;
  text-transform: uppercase;
  background-color: var(--bg-secondary);
}

.footer__logo {
  width: 143px;
}


.footer__menu {
  display: flex;
  justify-content: flex-start;
}

.footer__menu-list {
  width: 226px;
}

.footer__menu-list-item {
  margin-bottom: 16px;
}

.footer__externals {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  border-top: 1px solid var(--text-secondary);
}

.footer__socials-item {
  display: inline-block;
  margin-left: 19px;
}

.socials {
  display: block;
  height: 18px;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
}

.socials_instagram {
  width: 18px;
  background-image: url('../img/icon_instagram.svg');
}

.socials_facebook {
  width: 9px;
  background-image: url('../img/icon_facebook.svg');
}

.socials_twitter {
  width: 23px;
  background-image: url('../img/icon_twitter.svg');
}